<% layout('./layouts/boilerplate') -%>

  <h1>Add Campground</h1>
  <form action="/campgrounds" method="POST">
    <div>
      <label for="title">Title :</label><br>
      <input type="text" name="title" id="title">
    </div><br>
    <div>
      <label for="location">Location :</label><br>
      <input type="text" name="location" id="location">
    </div><br>
    <button type="submit">Add Campground</button>
    <button><a href="/campgrounds">Back</a></button>
  </form>